# ----------------------------
# IntelliJ IDEA
# ----------------------------
.idea/
*.iws
*.iml
*.ipr

# ----------------------------
# Build output
# ----------------------------
target/
out/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS-specific files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Maven Wrapper
# ----------------------------
.mvn/wrapper/maven-wrapper.jar

# ----------------------------
# Java
# ----------------------------
*.class

# ----------------------------
# Temporary files
# ----------------------------
*.swp
*~

