:host {
  display: block;
}

.page.page-bg {
  justify-content: flex-start;
  align-items: flex-start;
}

.page__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.manage-link {
  align-self: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.news-item {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 40rem;
}

.news-image {
  width: 100%;
  border-radius: 4px;
}

.news-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}  