<form [formGroup]="form" (ngSubmit)="submit()">
  <label>
    Title
    <input formControlName="title" />
  </label>
  <label>
    Content
    <textarea formControlName="content"></textarea>
  </label>
  <label>
    Image URL
    <input formControlName="imageUrl" />
  </label>
  <label>
    Published At
    <input formControlName="publishedAt" />
  </label>
  <button class="action-btn save-btn" type="submit">Save</button>
  <button class="action-btn cancel-btn" type="button" (click)="cancel.emit()">Cancel</button>
</form>