:host {
  text-align: center;
}

.content {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.delete:hover {
  background-color: #f44336;
  color: #fff;
}