@mixin page-bg($image, $overlay: 0.4) {
  padding: 2rem;

  background-image: url(#{$image});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, $overlay);
    z-index: 0;
  }

  > * { position: relative; z-index: 1; }
}