<section class="page page-bg" style="background-image: url('/assets/bg/roster.png')">
  <div class="page__content">
      <div
      class="position-group"
      *ngFor="let group of playersByPosition$ | async | keyvalue : sortByPosition"
    >
      <h3 class="position-title">{{ group.key }}</h3>
      <div class="player-row">
        <div
          class="player-card"
          *ngFor="let player of group.value"
          [style.width.px]="cardSize"
          [style.height.px]="cardSize"
          (click)="toggle(player)"
          [class.expanded]="selectedPlayer === player"
        >
          <div class="player-name">{{ player.firstName }} {{ player.lastName }}</div>
          <ng-container *ngIf="selectedPlayer === player">
            <div class="player-details">
              <div class="player-name">{{ player.firstName }} {{ player.lastName }}</div>
              <div class="player-number">#{{ player.numberOnJersey }}</div>
              <div class="player-nationality">{{ player.nationality }}</div>
              <div class="player-height">{{ player.heightCm }} cm</div>
              <div class="player-birthdate">{{ player.birthDate }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
