:host {
  position: relative;
  z-index: 1000;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  pointer-events: auto;
  background-color: #1f1f1f;
}

.nav {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 16px;
  display: flex;
  gap: 16px;
  align-items: center;

  .brand {
    font-weight: 700;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: red;
    border-radius: 10px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;

    .brand-logo {
      height: 32px;
      margin-right: 8px;
    }
  }

  .app-hamburger-menu {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1100;
    margin-right: 2rem;
  }

  .spacer { flex: 1 1 auto; }

  a { opacity: 0.9; }

  a.admin {
    padding: 6px 12px;
    border-radius: 10px;
    background: #fec73b;
    color: #0b0b0b;
    margin-left: 60px;
    text-decoration: none;
  }
  
  a.secondary {
    padding: 6px 12px;
    border-radius: 10px;
    background: #476bdf;
    color: #ffffff;
    margin-left: 8px;
    text-decoration: none;
  }

  a.primary {
    padding: 6px 12px;
    border-radius: 10px;
    background: #59df476c;
    color: #ffffff;
    margin-left: 8px;
    text-decoration: none;
 
  }

.signout-btn {
  margin-left: auto;
  padding: 6px 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 0.5px;
  font-size: large;
  color: #0b0b0b;
  }

.signout-btn:hover {
  background-color: #ff0000;
  color: #ffffff;
  }

.logout-icon {
  width: 30px;
  height: 30px;
  }
}

.welcome-box {
  font-size: larger;
  margin-left: 6.5rem;
  color: #ffffff; 
}