<header class="app-header">
  <nav class="nav">
    <a routerLink="/home" class="brand">
      <img src="/assets/bg/ikaros-nea-smyrni-logo.png" alt="Ikaros Nea Smyrni Logo" class="brand-logo" />Ίκαρος Νέας Σμύρνης BC
    </a>
    @if (auth.isLoggedIn()) {
      <div class="welcome-box">Καλωσόρισες {{ auth.userNameSig() || 'User' }}</div>
    }
    <span class="spacer"></span>

    @if (auth.isLoggedIn()) {
      <button class="signout-btn" type="button" (click)="logout()">
        Αποσύνδεση <img src="/assets/bg/logout.jpg" alt="Logout icon" class="logout-icon"/>
      </button>
    } @else {
      <a routerLink="/auth/login" class="secondary">Σύνδεση</a>
      <a routerLink="/auth/signup" class="primary">Εγγραφή</a>
      <a routerLink="/admin/login" class="admin">Διαχειριστής</a>
    }
  </nav>
</header>
